<table border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tr bgcolor='#faf9dc'>
    <td style='padding: 15px;' valign='top'>
      <h4>
        <a href="{{ site.naver_d2.url }}" style="line-height: 24px;">NAVER D2의 지원을 받아 진행됩니다</a>
      </h4>
      본 RORLab은 NAVER D2 개발자 커뮤니티 지원 프로그램에서 후원합니다.
    </td>
    <td style='padding: 15px;' valign='top'>
      <a href='{{ site.naver_d2.url }}'>
        <img alt="NAVER D2 커뮤니티 지원" height="68" src="{{ site.naver_d2.image }}" width="164" />
      </a>
    </td>
  </tr>
  <tr>
    <td height='40' colspan="2"></td>
  </tr>
</table>