<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="rorlab">

    <title>{{ page.title }}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/styles.css" rel="stylesheet" media="screen">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">

    <link rel="alternate" type="application/rss+xml" title="{{ site.description }}" href="{{ site.podcast.feed_url }}">
  </head>
  <body>
    <div class="container-narrow">
      <header class="senbei">
        <a href="/" title="Home">
          <img id="logo" src="/images/rorlab_logo.png">
        </a>
        <div style="text-align:center">
          <h1 id="bigtext">{{ site.name }}</h1>
          <p id="bigsubtext">{{ site.description }}</p>
            <ul class="nav nav-pills">
              <li><a href="{{ site.sns.twitter }}" title="follow us">twitter</a></li>
              <li><a href="{{ site.sns.facebook }}" title="facebook">facebook</a></li>
              <li><a href="{{ site.url }}" title="rorlab">rorlab</a></li>
              <li><a href="{{ site.podcast.feed_url }}" title="podcast">podcast</a></li>
              <li><a href="{{ site.podcast.itunes }}" title="itunes">itunes</a></li>
            </ul>
        </div>
        <hr>
      </header>

      {{ content }}

      <hr>
      <div class="footer-more">
        <p>
          Follow the RORLab
          <a href="{{ site.sns.twitter }}">
          Twitter feed</a>
        </p>
        <p>&copy; <a href="{{ site.url }}">RORLab</a> 2013</p>
      </div>
    </div> <!-- /container -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
